*{
    box-sizing: border-box;  
}

body{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

h1{
    color: white;
}

input{
    width: 60%;
}

.bloque{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 1%;
}

.bloque1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin: 1%;
}

.bloque2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 45%;
    margin: 1%;
}

.contenedor{
    width: 90%;
    background-color: #f5c3bc;
}

.encabesado{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #641818;
    text-align: center;
}

.botones{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.button{
    border-top-right-radius: 1cm;
    border-end-start-radius: 1cm;
    background-color: #8a3535;
    color: white;
    width: 20%;
    font-size: 30px;
    font-family: 'Century Gothic';
    margin: 2%;
}